:root {
  --animate-duration: 2000ms;
  --animate-delay: 0.9s;
}

.App {
  text-align: center;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.productContainer > .link {
  text-align: center;
  width: 350px;
  box-shadow: 0 0 10px #463636;
  margin: 10px;
  border-style: solid;
  border-color: black;
}

.productContainer > .link:hover {
    background-color: lightgray;
}

.productDetail img{
  height: 500px;
  
}

.productDetail h4{
  font-size: 40px;
}

